/*-----------------------------------------------

				HEADER

------------------------------------------------*/

/*font-family: 'Poppins', sans-serif;
font-family: 'Sansita Swashed', cursive;*/

.vangog {
	height: 79px;
	margin-left: 30px;

}

.instagram-header {
	margin-right: 90px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 20px;
}



header {
	height: 80px;
	background-color: black;
	align-items: center;
	border-bottom: 3px solid #b867fc;
	box-shadow: 0 0 50px #9100ff;
}

.instagram-icon {
	text-decoration: none;
	color: white;
	font-size: 40px;
	margin-right: 10px;
}

.instagram-inner {
	display:flex;
	align-items: center;
}

.inner-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 50px #9100ff;
}

body {
	margin: 0;
/*	background-image: url("../image/bg/bg.gif");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-color: purple;*/
	font-family: 'Poppins', sans-serif;
}


/*------------------------------

			CONTENT

-------------------------------*/

.row {
	padding: 60px;

}

.video-inner {
	width: 400px;
	border-right: 3px solid #9100ff;
}

.video-inner__2 {
	width: 400px;
	border-left: 3px solid #9100ff;
}

.video {
	display: flex;
	border: 3px solid #9100ff;
	box-shadow: 0 0 10px #9100ff;
	border-radius: 6px;
	margin-bottom: 30px;
	background-color: #BFBFBF;
}

.video__2 {
	display: flex;
	margin: 30px;
	border: 3px solid #9100ff;
	box-shadow: 0 0 10px #9100ff;
	border-radius: 6px;
	background-color: #BFBFBF;
}

.text-inner {
	margin: auto;
	color: black;
}

.video__3 {
	display: flex;
	margin: 30px;
	border: 3px solid #9100ff;
	box-shadow: 0 0 10px #9100ff;
	border-radius: 6px;
	background-color: #BFBFBF;
}





.content {
	background-image: url("../image/bg/bg.gif");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-color: purple;
	padding-bottom: 20px;
}


.inner-content {
	width: 1070px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 300px;
	border-bottom: 2px solid;
}

.content2 {
	background-color: #DCDCDC;
	min-height: 900px;
	border: 3px solid #b867fc;
	border-radius: 4px;
	box-shadow: 0 0 70px #9100ff;
}

/*--------------------------------

			FOOTER

---------------------------------*/

footer {
/*	margin-top: 20px;*/
	width: 100%;
	height: 150px;
	background-color: #9985a9;
/*	padding-top: 20px;*/
}

.inner-footer {
/*	width: 1070px;*/
	margin-left: auto;
	margin-right: auto;
	height: 90%;
}

.content-footer {
	display: flex;
	justify-content: space-around;
/*	margin-left: 30px;
	margin-right: 30px;*/
}

.button-order {
	border: 2px solid #9100ff;
	background-color: #9985a9;
	padding: 15px;
	border-radius: 30px;
	text-decoration: none;
}

.button-order:hover {
	background-color: #dac8e7;
}

.button-order a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}

.third-row {
	padding-top: 20px;
}

.second-row {
	padding-top: 10px;
}

.first-row {
	padding-top: 10px;
}

.button-instagram__footer {
	text-decoration: none;
	font-size: 36px;
}

.button-instagram__footer:hover {
	color: white;
}

/*--------------------------------------

			ADAPTATION

----------------------------------------*/

@media(max-width: 1070px) {

	.inner-content {
		width: 100%;
	}

}